body {
	overflow-x: hidden;
	background-color: #222;
	background-image: url("../assets/SquareBG.png");
}

body::-webkit-scrollbar {
    width: 12px;
	opacity: 0.5;
}
 
body::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background-color: #111;
}
 
body::-webkit-scrollbar-thumb {
	background-color: #444;
}

#page-content {
	width: 100%;
	/*height: 100vh;*/
	margin-top: 50px;
}

#page-contentfr {
	width: 100%;
	/*height: 100vh;*/
	margin-top: 20px;
}

.navbar-static-top {
	position: absolute;
	width: 100%;
	margin-top: -30px;
	border-width: 0px;
}

.navbar-inverse {
	background-color: #111;
	border: 0px;
}

.btn-inverse {
	background-color: #222;
	color: #999;
}

#page_body {
	padding-left: 25px;
	padding-right: 25px;
	background-color: #222;
}

.content-margin {
	margin-left: 10%;
	margin-right: 10%;
}

.fa {
	color: darkred;
}

/**
 ABOUT TEAM
**/

.team-name {
	color: #fff;
	text-align: center;
	font-size: 75px;
}

.team-name > h3 {
	margin-top: 5px;
}

.team-name > span {
	opacity: 0.25;
}

.team-name > p {
	font-size: 15px;
	opacity: 0.5;
}

/**
 THUMBNAILS
**/

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.thumbnail {
	background-color: #111;
	border: 0px;
	border-radius: 0px;
	padding: 0px;
}

.thumbnail > .caption {
	padding: 30px;
	color: #777
}

.thumbnail > h3 {
	margin: 0px;
	padding: 15px;
	color: #fff
}

/**
 SLIDESHOW
**/

.carousel {
    height: 300px;
    margin-bottom: 30px;
}
/* Since positioning the image, we need to help out the caption */
 .carousel-caption {
    z-index: 10;
}
/* Declare heights because of positioning of img element */
 .carousel .item {
    width: 100%;
    height: 300px;
}

.carousel-indicators li {
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	max-width: 30px;
	width: 30px;
	height: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: rgba(255,255,255,.5);
	border: 0px;
	border-radius: 0px;
	margin-bottom: -25px;
}

.carousel-indicators .active {
	max-width: 30px;
	width: 30px;
	height: 3px;
	cursor: pointer;
	background-color: rgba(255,255,255,1);
	margin: 1px;
	margin-bottom: -25px;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 300px;
}
@media (min-width: 768px) {
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}

/**
 MODAL POPUP STYLES
**/

.modal-header, h4, .close {
	background-color: teal;
	color:white !important;
	text-align: center;
	font-size: 30px;
	border: 0px solid transparent;
}

.modal-body {
	background-color: #101010;
	color: #eeeeee;
}

.popup {
	background-color: #232323;
	border: 1px solid transparent;
	border-radius: 0px;
	box-shadow: none;
}

.popup.btn {
	background-color: teal;
}

.modal-footer {
	background-color: #222222;
	color: #eeeeee;
	border: 0px solid transparent;
}

.input-right {
	width: 260px;
	position: absolute;
	margin-top: -34px;
	right: 15px;
}

.input-left {
	width: 593px;
	/*float: left;*/
}

.input-left-h {
	/*display: inline;*/
}

.align-text {
	float: right;
    margin-right: calc(260px - 47px);
}

textarea:focus, input:focus, input[type]:focus {
	border-color: rgba(0, 128, 128, 0.8);
    box-shadow: 0 1px 1px rgba(0, 128, 128, 0.075) inset, 0 0 8px rgba(0, 128, 128, 0.6);
    outline: 0 none;
}

.invalid {
	border-color: rgba(180, 0, 0, 0.8);
    box-shadow: 0 1px 1px rgba(180, 0, 0, 0.075) inset, 0 0 8px rgba(180, 0, 0, 0.6);
}

/**
 FOOTER
**/

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #111;
}

footer p {
  margin-bottom: .25rem;
}

.float-right {
	float: right;
}
